@media only screen and (max-width: 601px) {
    .pet{
         width: 601px;
         height: 600;
         frameborder: 0;
    }
}

/*中等屏幕下(平板类)的样式*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
    .pet{
         width: 992px;
         height: 600;
         frameborder: 0;
    }
}

/*大屏幕下(桌面类)的样式*/
@media only screen and (min-width: 993px) {
    .pet{
         width: 1125px;
         height: 600;
         frameborder: 0;
    }
}