<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/barrager.css">

<script src="/libs/valine/av-min.js"></script>
<script src="/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.barrager.js"></script>

<%- partial('_partial/bg-cover') %>

<style>
    #send{
        margin-bottom: 10px;
        width: 49%;
        background-color: #0ba360;
    }
    #clear{
        margin-bottom: 10px;
        width: 49%;
        background-color: #e7c65c;
    }
    p{
        text-align: center;
    }
</style>

<main class="content">
    <div id="contact" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    <i class="fas fa-dragon"></i>&nbsp;&nbsp;<i>仓鼠一家</i>
                </div>
                <%- page.content %>
            </div>
			
			<!--仓鼠-->
			<div class="elementor-element elementor-element-23f9474 elementor-hidden-mobile elementor-widget 
						elementor-widget-html" data-id="23f9474" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">	
					<iframe width="100%" height="600" frameborder="0" scroll="no"
						src="https://hammyhome.com?hh=('names!%255B'apNc4kcWNswNwb2Nb2WWWNw2akkk'%255D~props!%255B('bp!'noneNbKC0C0C0Nx!-P08q62~z!-			2Z53G0O5iRNbhjG1q25HdM*Ld*Md*MMLTP86YL82'GP67O5iLd*3838LTZ15~yjHBFBFBFXADADADXL7FMNwl!P4338279211285361_-			Z22tC1B575*MdNnfj_Z3Y9933TP18O31HMECMTZ07Y5D5DTP5t3838L'G0q9iSQSgSU9B9B9BQRgRUDA82LQCF5DLgB813LI)%255D)*%252C%2523G)%252C('x!			H~rzjiILNo!'c1V2Vf%252CsnVh%252Cbe'J~y!-Kc!'%2523LFFM00N'~OJZP0.QgMMMgRE1DABBSEC76MT'G-UIGP5q5iV%252CcWNchX*7F7LF*YO3HLZ1._~nh!			3GdLMgL*i~Kj!0kNhqJPtO45H%2501tqkjigd_ZYXWVUTSRQPONMLKJIHG*_">
					</iframe>		
				</div>
			</div>
		
			<!-- 
			<div class="card-content"></div>
			-->
		</div>
    </div>
</main>
